<ion-view view-title="Potential Job" cache-view ="false">
  <ion-content>
  <div class="card padding item item-text-wrap">
 <h2 class=padding>The following is a list of questions you should ask yourself when you are asked to be a sitter:</h2>

      <p> <i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Do you know these people?</span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Do your parents know them?</span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Does someone you know, know them?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> How many kids will you look after?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> What else would they like you to do?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> When do they need you?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Start time?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> End time?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Address?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> How will you get there?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> How will you get back home?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> How much did they offer to pay you?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Did you tell them your rate of pay?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> Will you meet for a pre-job meeting?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:15px;"></i> <span style="font-size:15px;font-weight:150"> If so, when?</span> 
</div>
</ion-content>
</ion-view>


          