<ion-view view-title="Checklist" cache-view ="false">
  <ion-content>
  <div class="item item-divider">
   Things to consider when babysitting
  </div>
  <div>
  <div class="list padding">
          <ion-item>
            <h2>Family Name?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Do you know these people?</h2>
          </ion-item>
          
          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Do your parents know them?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Does someone you know, know them?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>How many kids do they have? &nbsp; Ages?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>When do they need you?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Start time? &nbsp; End time?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>How much did they offer to pay you?</h2>
          </ion-item>
          
          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Will you meet for a pre-job meeting?</h2>
          </ion-item>
         
          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Pre-job meeting address?</h2>
          </ion-item>

           <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Pre-job meeting date?</h2>
          </ion-item>

          <ion-item class="item-remove-animate" type="item-text-wrap" >
            <h2>Pre-job meeting time?</h2>
          </ion-item>

    </div> 
    </div>   
  </ion-content>
</ion-view>