<ion-view view-title="Edit Kid">
  <ion-nav-buttons side="secondary">
    <button class="button correctSize" ng-click="editTaskDetails()" ng-hide="toggleVisibility">Edit</button>
    <button class="button correctSize" ng-click="saveTaskDetails()" ng-hide="!toggleVisibility">Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelTaskDetails()" ng-hide="!toggleVisibility">Cancel</button>

  </ion-nav-buttons>
  <ion-content>
    <!-- ******************************** Task sub-page ******************************** -->
    <h2>This is edit kid page</h2>
    

    <div class="padding" ng-show="toggleVisibility">

      <button class="button button-assertive button-block" ng-click="deleteTaskDetails()" ng-show="toggleVisibility">
        Delete Task
      </button>
    </div>

  </ion-content>
</ion-view>                    