<ion-view view-title="Location Checklist" cache-view ="false">
  <ion-content>

  <div class="list card">
<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;">The following is a list of questions you should be aware of when you arrive.</p>  
<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;"><span style="color:#4a87ee;">DO NOT</span> be afraid to ask the parents questions.  If they respond with a “don’t worry about it” type of question, politely ask for an answer.</p> 
<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;"> <span style="color:#4a87ee;">DO NOT</span> rely on what the kids tell you.  It’s a good idea to arrive early.</p>


  <div class="item item-body item-divider" style="padding-top:0px;">
        <h2>The following is the information you should input into SitterAdvantage</h2>
  </div>
  
  <div class="item item-body">
    <p> <i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> The parents’ names and contact information</span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> The kid’s names, birthdate, allergies, handicaps or disabilities</span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Take a clear photo of each kid </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Enter and schedule tasks and set appropriate alarms that may include: </br> &nbsp; &nbsp; &nbsp;- Bedtime </br> &nbsp; &nbsp; &nbsp;- When to give medication </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> It is important that all the information is entered in case of an emergency.  </span> </p>
  </div>

</div>

<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;">Although they may have answered your questions before, there may have been changes since you last spoke so it’s okay to ask the same questions again for clarification.</p>  

 <div class="list card">

  <div class="item item-body item-divider" style="padding-top:0px;">
        <h2>Questions you should ask the client</h2>
  </div>
  
  <div class="item item-body">
    <p> <i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> Do you get cell phone service in the house? </span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Is there WiFi in the house?  If it is a week WiFi signal, do not use.    </span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Where are the exits leading outside?     </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Where are the telephones?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Do you have a first aid kit and where is it located? </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Do you have a fire extinguisher and where is it located? </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Do you have a fire escape procedure, route or meeting place in the event of an emergency?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Do you have a security system and can you show me how to use it including any panic buttons?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> What is the security system passcode and password?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Am I expected to make food for the kids?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Are there any pets to be looked after? Cat or dog to let out?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> What rooms are the kids allowed or not allowed to be in?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Do they have a favorite video, game, toy or other activity available?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Is there anything else you feel I should know about the home and the kids?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Is there a chance that you may be home later than expected?</span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Are you okay with my rate? </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Will you bring me home afterwards or will I need to arrange to be picked up? </span> </p>
  </div>
</div>

  <p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;"> There may be other questions you may ask that are not listed here but don’t be afraid to ask them.  </br> Keep in mind your checklist of things you <span style="color:#4a87ee;">DO NOT</span> feel comfortable doing. </p>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

</ion-content>
</ion-view>


          