<ion-view view-title="New Client">

	<ion-nav-buttons side="primary">
		 <button class="button correctSize" ng-click="cancelNewClient()">Cancel</button>   
	 </ion-nav-buttons>
	<ion-nav-buttons side="secondary">
	<button class="button correctSize" ng-click="saveNewClient()" >Save</button>   
	</ion-nav-buttons>
	  <ion-content class="padding">
	  <ti-segmented-control on-select="buttonClicked($index)">
	  
	        <ti-segmented-control-button class="button-energized" title="'Parent'" selected>
	        </ti-segmented-control-button>

	        <ti-segmented-control-button class="button-energized" title="'Kid'" >
	        </ti-segmented-control-button>

	        <ti-segmented-control-button class="button-energized" title="'Task'">
	        </ti-segmented-control-button>
	    </ti-segmented-control>
	<div ng-switch on="selectedIndex">
<form name="editedClientForm" novalidate>
<!-- ******************************** Parent sub-page ******************************** -->
    <div id="parent" class="padding list" ng-switch-when="0" ng-repeat="parent in editedClient.parents">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">First Name</span>
	    <input ng-model="parent.parentFirstname" type="text" placeholder="John" required>
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Last Name</span>
	    <input ng-model="parent.parentLastname" type="text" placeholder="Smith" required>
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Parent Notes</span>
	    <input ng-model="parent.parentNotes" type="text" placeholder="Has access to child" required>
	  </label>
	  <label class="item item-input item-stacked-label">
		  <span class="input-label">Street</span>
		  <input ng-model="parent.parentStreet" type="text" placeholder="1229 this place ave" required>
	  </label>
	  <label class="item item-input item-stacked-label">
		  <span class="input-label">Unit</span>
		  <input ng-model="parent.parentUnit" type="text" placeholder="504">
	  </label>
	  <label class="item item-input item-stacked-label">
		  <span class="input-label">City</span>
		  <input ng-model="parent.parentCity" type="text" placeholder="Ottawa" required>
	  </label>
	  <label class="item item-input item-stacked-label">
		  <span class="input-label">State</span>
		  <input ng-model="parent.parentState" type="text" placeholder="ON" required>
	  </label>
	  <label class="item item-input item-stacked-label">
		  <span class="input-label">Zip Code</span>
		  <input ng-model="parent.parentZipcode" type="text" placeholder="K2BKJ8" required>
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label"> Primary Phone Number</span>
	     <input ng-model="parent.parentPrimaryphone" type="tel" placeholder="6134438578" required>
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label"> Secondary Phone Number</span>
	     <input ng-model="parent.parentSecondaryphone" type="tel" placeholder="6134438578">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Email</span>
	    <input ng-model="parent.parentEmailid" type="text" placeholder="john@smith.com">
	  </label>
	</div>
	   
	  


<!-- ******************************** Kid sub-page ******************************** -->
  <div id="kid" class="list" ng-switch-when="1" ng-repeat="kid in editedClient.kids">
  		  <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
  		  <img ng-src="img/{{kid.kidPicture}}"
          <button class="button" ng-click="takePicture()">Change Picture</button>
	  	<label class="item item-input item-stacked-label">
		    <span class="input-label">First Name</span>
		    <input ng-model="kid.kidFirstname" type="text" placeholder="Jack" required>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Last Name</span>
		    <input ng-model="kid.kidLastname" type="text" placeholder="Smith" required>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span  class="input-label">Birthday</span>
		     <input ng-model="kid.kidBirthdate" type="date">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span  class="input-label">Gender</span>
		    <input ng-model="kid.kidGender" type="text" placeholder="Female" required>
		  </label>
		  
		  <label class="item item-input item-stacked-label">
			  <span class="input-label">Allergies</span>
			  <input ng-model="editedClient.allergies.allergyDescription" type="text" placeholder="Peanuts">
		  </label>
		   <label class="item item-input item-stacked-label">
			  <span ng-model="editedClient.disabilities.disabilityDescription" class="input-label">Disabilities</span>
			  <input type="text" placeholder="ADHD">
		  </label>
		  <label class="item item-input item-stacked-label">
			  <span ng-model="editedClient.medications.medicationDescription" class="input-label">Medications</span>
			  <input type="text" placeholder="Tylanol">
		  </label>
		  <label class="item item-input item-stacked-label">
			  <span class="input-label">Notes</span>
			  <input ng-model="kid.kidNotes" type="text" placeholder="He is a very active child">
		  </label>
		   
  </div>

  <!-- ******************************** Task sub-page ******************************** -->
    <div id="task" class="list"  ng-switch-when="2" ng-repeat="task in editedClient.tasks">
    <label class="item item-input item-stacked-label">
		    <span class="input-label">Task Title</span>
		    <input ng-model="task.taskTitle" type="text" placeholder="Give medication" required>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Task Description</span>
		    <input ng-model="task.taskDescription" type="text" placeholder="more details as needed">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Task Start Date</span>
		    <input ng-model="task.taskStartdate" type="date"required >
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Task End Date</span>
		    <input ng-model="task.taskEnddate" type="date" required>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Task Start Time</span>
		    <input ng-model="task.taskStarttime" type="text" placeholder="5.30pm" required> 
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Task End Time</span>
		    <input ng-model="task.taskEndtime" type="text" placeholder="6.30pm" required>
		  </label>
		   <label class="item item-input item-stacked-label">
			  <span class="input-label">Notes</span>
			  <input ng-model="task.taskNotes" type="text" placeholder="He is a very active child">
		  </label>
    </div>
  </form>


  </ion-content>
</ion-view>