<ion-view view-title="Location Checklist" cache-view ="false">
  <ion-content>

  <div class="list card">
<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;">Hopefully during your pre-job meeting, you discovered what the kids like and don’t like but be prepared for anything since things change with families regularly.  Always try to arrive early. </p>  
  <div class="item item-body item-divider" style="padding-top:0px;">
        <h2>Here are a few suggestions when preparing for a job:</h2>
  </div>
  
  <div class="item item-body">
    <p> <i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> Have your cell phone fully charged</span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> A flashlight with fresh batteries that you can use to check on the kids when they are sleeping or if the power goes off at night</span> </p>
      <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> An extra shirt if you are looking after babies or toddlers.  You never know when spit-ups may happen </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Any supplies or equipment needed for a game, craft or activity from What To Do With The Kids </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Age appropriate coloring books with a few crayons, a few short story books, board game or a favorite toy that can be used when needed  </span> </p>
     <p><i class="ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i> <span style="font-size:15px;font-weight:150"> Have a compact first aid kit for those little cuts and scrapes </span> </p>
  </div>
</div>

<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;">You should also arrange to have your parents or a responsible friend prepared to pick you up after the job in the event that the parents are not able to or if they have been drinking alcohol or taking drugs.</p>
<p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;">Although they may be very nice people, if you feel that the person who is to drive you home has been drinking or taking drugs, tell them that you’ve made other arrangements to be picked up and call them.  Never take a chance with someone who you think is drunk or stoned even if they say they are fine.  You can even use a secret word with the person you are calling to let them know that you need to be picked up.</p> 
  <p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;"> You should also prepare to stay longer than expected just in case the parents are delayed in getting back.  You may want to send a text message to your family or a friend to let them know you are staying late. </p>
  <p style="font-size:15px;font-weight:150;color:#666;padding-left:15px;padding-right:15px;"> If you are leaving after the job by yourself, let someone know when you’re leaving and what route you will be taking, especially if it’s late at night.  Do this BEFORE you leave.  </p>
  <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

</ion-content>
</ion-view>


          