<ion-view view-title="Emergency">
  <ion-content>
    <div class="item item-divider">
        In case of Emergency
    </div>
    <!-- <ion-list> -->
	  <ion-item>
    <div class="padding">
        <button class="button button-block icon-left button-assertive" ng-click="callNumber(311)">Call 911</button>        
    </div>
	  <div class="padding">
	  <button class="button button-block button-balanced icon-left ion-location" ng-click="showModal()"> Show My Location </button>
	  </div>
		  </ion-item>
     
         <div class="item item-divider">
            Parent info
            </div>
 <div class="list">
	 
	 <!-- ******************************** Parent sub-page ******************************** -->
			<div id="parent" ng-repeat="parent in parents" class="card">

				<div class="item item-divider item-icon-right">
					{{parent.parentFirstname + " " + parent.parentLastname}}                    
					<div class="icon">
						<a ng-href="sms:13332221111&body={{ sosMessage }}" class="button button-icon" id="parent1"> 
							<!-- ng-click="sendSMS(6138539911)" -->
              				<i id="position" class="icon ion-ios-chatbubble"></i>
            			</a>
						
						<button class="button button-icon" style="padding-left:30px;" ng-click="callNumber(6138539911)">
							<i class = "icon ion-ios-telephone"></i>
						</button>
        			</div>	
				</div>
				<div class="item item-text-wrap">
					<div style="margin-bottom:15px;">
							<h2>Mobile Number</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentPrimaryphone}}</p>
						</div>
					<div style="margin-bottom:15px;">
							<h2>Address</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentStreet}}</p>
							<p>{{parent.parentCity +", "+ parent.parentState}}</p>
							<p>{{parent.parentZipcode}}</p>
						</div>
				</div>

			</div>
                  
</div>  
  </ion-content>
</ion-view>