<ion-view view-title="Task Details">
 <ion-content>
      <div class="list">
        <div class="item item-button-right">
            <h2 class="ios-blue">{{task.taskTitle}}</h2>
              <h4>Description</h4>
              <p>{{task.taskDescription}}</p>
              <h4>Start Date</h4>
              <p>{{task.taskStartdate}}</p>
              <h4>End Date</h4>
              <p>{{task.taskEnddate}}</p>
              <h4>Start time</h4>
              <p>{{task.taskStarttime}}</p>
              <h4>End time</h4>
              <p>{{task.taskEndtime}}</p>
              <h4>Notes</h4>
              <p>{{task.taskNotes}}</p>
            <button class="button button-positive button-clear" ng-click="editTaskDetails()" id="position"> 
              Edit
            </button>

         </div>
    </div>
  </ion-content>
</ion-view>                    